{% extends "base.html" %}

{% block content %}
    <div>
        <a href="/departments" class="btn btn-secondary">go to Department</a>
        {% if current_user.is_authenticated %}
            <a href="/jobs" class="btn btn-secondary">Add Job</a>
        {% endif %}
    </div>
    <h2>Works log</h2>
    {% for job in jobs %}
        <h3>Action # {{ job.id }}</h3>
        <table class="table">
            <tr class="table-secondary">
                <td>Title of activity
                <td>Team leader
                <td>Duration
                <td>List of collaborations
                <td>Is finished
            </tr>
            <tr>
                <td class="table-primary">{{ job.job }}
                <td class="table-primary">{{ job.user.surname }} {{ job.user.name }}
                <td class="table-primary">{{ job.work_size }}
                <td class="table-primary">{{ job.collaborators }}
                    {% if job.is_finished %}
                        <td class="table-success">{{ job.is_finished }}
                            {% else %}
                        <td class="table-danger">{{ job.is_finished }}
                    {% endif %}
            </tr>
        </table>
        {% if current_user.is_authenticated and (current_user == job.user or current_user.id == 1) %}
            <div>
                <a href="/jobs/edit/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/jobs/delete/{{ job.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}